<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mis perris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h2>Gestión de personas</h2>
    <h4>{{fechaHora}}<h4>
    <div style="background-color:aquamarine;">
    {% block content%}
    {%endblock%}
    </div>
    <br><br>
    <h5>::Sistema Creado en Django::</h5>
</body>
</html>