{% extends 'base.html' %}
{% block content %}
<a href="/Persona/listar/">::Ver el listado de personas</a> <br>
<h3>::Detalle de la persona</h3> <br>
Nombre={{Persona.nombre}} <br>
Rut= {{Persona.rut}} <br>
Teléfono = {{Persona.cel}} <br>
Fecha Nacimiento = {{Persona.fec_nac}} <br>
Correo = {{Persona.correo}} <br>
{% endblock %}