{%extends 'base.html'%}
{%block content%}
{%for per in Persona%}
{{per.nombre}}
<a href='/Persona/detalle/{{per.pk}}'>Detalle</a>
<a href='/Persona/eliminar/{{per.pk}}'>Eliminar</a>
<a href='/Persona/editar/{{per.pk}}'>Editar</a>

<br>
{%endfor%}
<br><br><br>
<a href="/Persona/nuevo/">Nuevo Registro</a>
<br><br><br>
{% endblock %}